<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><i class="fas fa-cog fa-fw"></i></small>
        Logging
    </h1>
</div>

<p class="mb-4">
    You can store all IMAP and SMTP traffic except user credentials and message content for selected accounts. You can
    then download these logs for inspection. Account logging is not enabled by default.
</p>

<form method="post" action="/admin/config/logging">
    <input type="hidden" id="crumb" name="crumb" value="{{crumb}}" />

    <div class="card mb-4">
        <div class="card-body">
            <div class="form-group form-check">

                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">logs.all</a>]</div>

                <input type="checkbox" class="form-check-input or-else-all {{#if errors.all}}is-invalid{{/if}}"
                    data-target="log-list" id="settingsLogsAll" name="all" {{#if values.all}}checked{{/if}} />
                <label class="form-check-label" for="settingsLogsAll">Store logs for all accounts</label>
                {{#if errors.all}}
                <span class="invalid-feedback">{{errors.all}}</span>
                {{/if}}
                <small class="form-text text-muted">It is not recommended if EmailEngine tracks a large number of
                    accounts.</small>
            </div>

            <div class="form-group">
                <div class="text-muted float-right code-link">[<a href="/admin/iframe/docs#/Settings/postV1Settings"
                        target="_blank">logs.maxLogLines</a>]</div>

                <label for="settingsLogsMaxLogLines">Maximum lines of logs to store per account</label>
                <input type="number" class="form-control {{#if errors.maxLogLines}}is-invalid{{/if}}"
                    id="settingsLogsMaxLogLines" min="0" max="10000000" name="maxLogLines"
                    value="{{values.maxLogLines}}" />
                {{#if errors.maxLogLines}}
                <span class="invalid-feedback">{{errors.maxLogLines}}</span>
                {{/if}}
                <small class="form-text text-muted">Logs are stored in Redis, which in other words means RAM, so it
                    might
                    not be a good idea to store too much data in it.</small>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <button type="submit" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-cog"></i>
            </span>
            <span class="text">Update settings</span>
        </button>
    </div>

</form>