<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">OAuth2</h1>
</div>

<p class="mb-4">Configure OAuth2 settings for supported services.</p>

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link active" href="/config/oauth/gmail">Gmail</a>
    </li>
</ul>

<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Requirements</h6>
    </div>
    <div class="card-body">
        <p>Your OAuth2 project must have the following scope enabled: <code>"https://mail.google.com/"</code>. This is a
            restricted scope, for external facing services a security audit <a
                href="https://support.google.com/cloud/answer/9110914">might be required</a>.</p>
    </div>
</div>