{{> security_header}}

{{> ui/breadcrumb parentHref="/admin/account/security" parentLabel="Security" current="Password" class="mt-6 mb-6"}}

<form method="post" action="/admin/account/password">
    {{!-- no id: the layout already renders the #crumb element scripts read --}}
    <input type="hidden" name="crumb" value="{{crumb}}" />

    <div class="card bg-base-100 shadow-md mb-6">

        <div class="card-header">
            <h6 class="card-title text-primary">

                {{#if authData.enabled}}
                Change password
                {{else}}
                Create password
                {{/if}}

            </h6>
        </div>

        <div class="card-body space-y-4">

            <div>
                {{#> ui/form-field id="username" label="Username" error=errors.username}}
                <input type="text" class="input{{#if errors.username}} is-invalid{{/if}}" id="username" name="username"
                    value="{{username}}" data-lpignore="true" autocomplete="off" readonly />
                {{/ui/form-field}}
            </div>

            {{#if authData.enabled}}
            <div>
                {{#> ui/form-field id="password0" label="Current password" error=errors.password0}}
                <input type="password" class="input{{#if errors.password0}} is-invalid{{/if}}" id="password0"
                    name="password0" autocomplete="current-password" required />
                <span class="helper-text">Forgot your current password? You'll need to <a
                        href="https://emailengine.app/reset-password" target="_blank" rel="noopener noreferrer"
                        referrerpolicy="no-referrer" class="link link-animated">reset it</a> using the command line
                    interface.</span>
                {{/ui/form-field}}
            </div>
            {{/if}}

            <div>
                {{#> ui/form-field id="password" label="New password" error=errors.password}}
                <input type="password" class="input{{#if errors.password}} is-invalid{{/if}}" id="password"
                    name="password" autocomplete="new-password" required />
                {{/ui/form-field}}
            </div>

            <div>
                {{#> ui/form-field id="password2" label="Confirm new password" error=errors.password2}}
                <input type="password" class="input{{#if errors.password2}} is-invalid{{/if}}" id="password2"
                    name="password2" autocomplete="new-password" required />
                {{/ui/form-field}}
            </div>

        </div>
    </div>

    <div class="mb-6">
        {{#if authData.enabled}}
        {{> ui/btn label="Update password" type="submit" icon="icon-[tabler--shield-lock]"}}
        {{else}}
        {{> ui/btn label="Create password" type="submit" icon="icon-[tabler--shield-lock]"}}
        {{/if}}
    </div>
</form>
