<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">Password</h1>
</div>

<p class="mb-4">
    You should enable authenction for EmailEngine.
</p>