<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Two-factor authentication</h1>
</div>
<form class="user" method="post" action="/admin/totp" style="min-height: 14rem;">
    <input type="hidden" id="crumb" name="crumb" value="{{crumb}}" />
    <input type="hidden" name="next" value="{{values.next}}" />
    <input type="hidden" name="type" value="totp" />


    <div class="form-group">
        <label for="code">Enter the 6-digit TOTP code</label>
        <input type="text" pattern="[0-9]{6}"
            class="form-control form-control-user  {{#if errors.code}}is-invalid{{/if}}" id="code" name="code"
            required />
        {{#if errors.code}}
        <span class="invalid-feedback">{{errors.code}}</span>
        {{/if}}
    </div>

    <div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Verify login
        </button>
    </div>
</form>
<hr>
<div class="text-center">
    <a class="small" href="https://emailengine.app/reset-password" target="_blank"
        referrerpolicy="{{referrerPolicy}}">Need to reset 2FA?</a>
</div>