{{> oauth_config_header}}

{{> ui/breadcrumb parentHref="/admin/config/oauth" parentLabel="OAuth2 Apps" current=(concat "Register a new "
providerData.comment " app") class="mt-6 mb-6"}}

{{#unless activeOutlook}}{{#unless activeGmailService}}{{#unless activeOutlookService}}
{{#if providerData.tutorialUrl}}
{{#> ui/stat-card variant="info" icon="icon-[tabler--info-circle]" class="mb-6"}}
<div>Read about setting up {{providerData.comment}} OAuth2 project from <a href="{{providerData.tutorialUrl}}"
        target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer" class="link link-animated">here</a>.
</div>
{{/ui/stat-card}}
{{/if}}
{{/unless}}{{/unless}}{{/unless}}

<form method="post" action="/admin/config/oauth/new" class="pending-form">
    <input type="hidden" name="crumb" value="{{crumb}}" />
    <input type="hidden" name="provider" value="{{values.provider}}">

    {{> oauth_form }}

    <div class="mb-6">
        {{> ui/btn label="Register app" type="submit" icon="icon-[tabler--device-floppy]"}}
    </div>
</form>
