<div class="modal fade" id="addAccount" tabindex="-1" aria-labelledby="addAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAccountLabel">Add an account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/admin/accounts/new">
                <input type="hidden" name="crumb" value="{{crumb}}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="account-name" class="col-form-label">Full name:</label>
                        <input type="text" class="form-control" id="account-name" name="name"
                            placeholder="e.g., John Smith">
                    </div>
                    <div class="form-group">
                        <label for="account-id" class="col-form-label">Account identifier (optional):</label>
                        <input type="text" class="form-control" id="account-id" name="account"
                            placeholder="e.g., account_123">
                        <small class="form-text text-muted">Leave blank to auto-generate. Existing accounts with this ID will be updated.</small>
                    </div>

                    <p><small>You'll be redirected to a hosted authentication form. You can also <a href="https://emailengine.app/hosted-authentication" target="_blank"
                                rel="noopener noreferrer" referrerpolicy="no-referrer">use this form in your own app</a>.</small>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                        <span class="text">Continue</span>
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        $('#addAccount').on('shown.bs.modal', function (event) {
            document.getElementById('account-name').focus();
            document.getElementById('account-name').select();
        });

        $('#addAccount').on('hidden.bs.modal', function (event) {
            document.getElementById('account-name').value = '';
            document.getElementById('account-id').value = '';
        })
    });
</script>