<a href="#" tabindex="-1" role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-title=""
    data-content="
<ul class='popover-list'>
<li>Top level <code>await</code> is allowed
<li>Allowed APIs: <code>fetch</code>, <code>URL</code>
<li><code>logger</code> is a Pino.js logger
<li><code>env</code> is the <code>scriptEnv</code> settings object
</ul>
">
    <i class="fas fa-info-circle"></i></a>