<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><i class="fas fa-paper-plane fa-fw"></i></small>
        SMTP Gateways
    </h1>
</div>