<ul class="nav nav-pills mb-4">
    <li class="nav-item">
        <a class="nav-link {{#if activeApplications}}active{{/if}}" href="/admin/config/oauth">Applications</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{#if activeSubscriptions}}active{{/if}}" href="/admin/config/oauth/subscriptions">Gmail Subscriptions</a>
    </li>
</ul>