<nav class="tabs tabs-bordered mb-6" aria-label="OAuth2 sections">
    <a class="tab{{#if activeApplications}} tab-active{{/if}}" href="/admin/config/oauth">Applications</a>
    <a class="tab{{#if activeSubscriptions}} tab-active{{/if}}" href="/admin/config/oauth/subscriptions">Gmail Subscriptions</a>
</nav>
