<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><i class="fas fa-cog fa-fw"></i></small>
        OAuth2</label>
    </h1>
</div>

<p class="mb-4">
    Configure OAuth2 apps for supported services.
</p>