<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><i class="fas fa-user-shield fa-fw"></i></small>
        Account Security
    </h1>
</div>

<p class="mb-4">
    EmailEngine provides access to sensitive email data, so you should minimally protect it with an account password to
    keep malicious users away. Using a firewall is also advised.
</p>