{{> ui/page-header title="Account Security" icon="icon-[tabler--shield-lock]" class="mb-1"}}

<p class="mb-6 text-base-content/80">
    EmailEngine provides access to sensitive email data, so you should minimally protect it with an account password to
    keep malicious users away. Using a firewall is also advised.
</p>
