<!-- Nav Item - Dashboard -->
<li class="nav-item {{#if menuDashboard}}active{{/if}}">
    <a class="nav-link" href="/admin">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    System
</div>

<li class="nav-item {{#if menuSwagger}}active{{/if}}">
    <a class="nav-link" href="/admin/swagger">
        <i class="fas fa-fw fa-file-code"></i>
        <span>API Reference</span></a>
</li>

<li class="nav-item {{#if menuAccounts}}active{{/if}}">
    <a class="nav-link" href="/admin/accounts">
        <i class="fas fa-fw fa-users"></i>
        <span>Email Accounts</span></a>
</li>

<li class="nav-item {{#if menuGateways}}active{{/if}}">
    <a class="nav-link" href="/admin/gateways">
        <i class="fas fa-fw fa-paper-plane"></i>
        <span>SMTP Gateways</span></a>
</li>


<li class="nav-item {{#if menuTokens}}active{{/if}}">
    <a class="nav-link" href="/admin/tokens">
        <i class="fas fa-fw fa-key"></i>
        <span>Access Tokens</span></a>
</li>

<li class="nav-item {{#if menuTemplates}}active{{/if}}">
    <a class="nav-link" href="/admin/templates">
        <i class="fas fa-fw fa-file-code"></i>
        <span>Email Templates</span></a>
</li>

<li class="nav-item {{#if menuWebhooks}}active{{/if}}">
    <a class="nav-link" href="/admin/webhooks">
        <i class="fas fa-fw fa-arrows-alt"></i>
        <span>Webhook Routing</span></a>
</li>

<li class="nav-item">
    <a class="nav-link {{#unless menuTools}}collapsed{{/unless}}" href="#" data-toggle="collapse"
        data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTools">
        <i class="fas fa-fw fa-tools"></i>
        <span>Tools</span>
    </a>
    <div id="collapseTools" class="collapse {{#if menuTools}}show{{/if}}" aria-labelledby="headingTools"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">

            <a class="collapse-item {{#if menuToolsArena}}active{{/if}}" href="/admin/arena"> <i
                    class="fas fa-fw fa-layer-group"></i>
                <span>Arena</span></a>

            <a class="collapse-item {{#if menuToolsInternals}}active{{/if}}" href="/admin/internals"> <i
                    class="fas fa-fw fa-cog"></i>
                <span>Internals</span></a>

        </div>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link {{#unless menuConfig}}collapsed{{/unless}}" href="#" data-toggle="collapse"
        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Configuration</span>
    </a>
    <div id="collapseTwo" class="collapse {{#if menuConfig}}show{{/if}}" aria-labelledby="headingTwo"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item {{#if menuConfigService}}active{{/if}}" href="/admin/config/service">Service</a>
            <a class="collapse-item {{#if menuConfigWebhooks}}active{{/if}}" href="/admin/config/webhooks">Webhooks</a>
            <a class="collapse-item {{#if menuConfigAi}}active{{/if}}" href="/admin/config/ai">LLM Integration</a>
            <a class="collapse-item {{#if menuConfigOauth}}active{{/if}}" href="/admin/config/oauth">OAuth2</a>
            <a class="collapse-item {{#if menuConfigLogging}}active{{/if}}" href="/admin/config/logging">Logging</a>
            <a class="collapse-item {{#if menuConfigNetwork}}active{{/if}}" href="/admin/config/network">Network</a>
            <a class="collapse-item {{#if menuConfigSmtp}}active{{/if}}" href="/admin/config/smtp">SMTP Interface</a>
            <a class="collapse-item {{#if menuConfigImapProxy}}active{{/if}}" href="/admin/config/imap-proxy">IMAP Proxy
                Interface</a>
            <a class="collapse-item {{#if menuConfigDocumentStore}}active{{/if}}"
                href="/admin/config/document-store">Document Store</label></a>
            <a class="collapse-item {{#if menuConfigLicense}}active{{/if}}" href="/admin/config/license">
                <div style="display: flex; justify-content: space-between;">
                    <div>License key</div>
                    {{#unless licenseInfo.active}}
                    <div><i class="fas fa-fw fa-exclamation-triangle tooltip-elm" data-toggle="tooltip"
                            data-placement="top" title="License not activated"></i>
                    </div>
                    {{/unless}}
                </div>
            </a>

        </div>
    </div>
</li>