<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><i class="fas fa-file-code fa-fw"></i></small>
        Email Templates
    </h1>
</div>