<input type="hidden" id="contentHtmlJson" value="{{contentHtmlJson}}">
<input type="hidden" id="contentTextJson" value="{{contentTextJson}}">

<input type="hidden" id="contentHtml" name="contentHtml" value="">
<input type="hidden" id="contentText" name="contentText" value="">

<div class="card bg-base-100 shadow-md mb-6">
    <div class="card-body space-y-4">

        {{> ui/form-field id="inputName" name="name" label="Name" value=values.name error=errors.name required=true hint="Name for this template."}}

        {{> ui/form-field id="inputDescription" name="description" label="Description" value=values.description error=errors.description hint="Description for this template."}}

        {{> ui/form-field id="inputSubject" name="subject" label="Subject" value=values.subject error=errors.subject hint="Subject line for the sent email. Handlebars syntax is allowed."}}

        {{> ui/form-field id="inputPreviewText" name="previewText" label="Preview text" value=values.previewText error=errors.previewText hint="Preview text appears in the inbox after the subject line. Handlebars syntax is allowed."}}

        {{#> ui/form-field id="inputFormat" label="HTML source format" error=errors.format hint="EmailEngine will generate final HTML using the selected code formatter."}}
        <select class="select{{#if errors.format}} is-invalid{{/if}}" id="inputFormat" name="format">
            {{#each formats}}
            <option value="{{format}}" {{#if selected}}selected{{/if}}>{{name}}</option>
            {{/each}}
        </select>
        {{/ui/form-field}}

        <div>
            <nav class="tabs tabs-bordered" aria-label="Template content" role="tablist" data-tabs>
                <button type="button" class="tab active-tab:tab-active active" id="html-tab" data-tab="#html" role="tab" aria-controls="html"
                    aria-selected="true">HTML</button>
                <button type="button" class="tab active-tab:tab-active" id="text-tab" data-tab="#text" role="tab" aria-controls="text"
                    aria-selected="false">Plain text</button>
            </nav>
            <div class="mt-[1rem]">
                <div id="html" role="tabpanel" aria-labelledby="html-tab">

                    <div id="editor-html" class="code-editor"></div>
                    <div class="editor-embed-block">
                        <div class="editor-embed-content editor-embed-content-left">
                            HTML content
                        </div>

                        <div class="editor-embed-content editor-embed-content-left editor-embed-content-right">
                            <a href="#" class="toggle-fullscreen" data-target="editor-html">Toggle fullscreen</a>
                        </div>

                        <div class="editor-embed-content editor-embed-content-right">
                            <a href="https://emailengine.app/email-templates#handlebars" class="toggle-fullscreen"
                                target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">Variables syntax
                                help</a>
                        </div>

                    </div>

                </div>
                <div id="text" class="hidden" role="tabpanel" aria-labelledby="text-tab">

                    <div id="editor-text" class="code-editor"></div>
                    <div class="editor-embed-block">
                        <div class="editor-embed-content editor-embed-content-left">
                            Text content
                        </div>
                        <div class="editor-embed-content editor-embed-content-left editor-embed-content-right">
                            <a href="#" class="toggle-fullscreen" data-target="editor-text">Toggle fullscreen</a>
                        </div>

                        <div class="editor-embed-content editor-embed-content-right">
                            <a href="https://emailengine.app/email-templates#handlebars" class="toggle-fullscreen"
                                target="_blank" rel="noopener noreferrer" referrerpolicy="no-referrer">Variables syntax
                                help</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
