<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">Access tokens</h1>
</div>

<p class="mb-4">
    To access EmailEngine API you need to authenticate your API requests with an access token.
</p>