<input type="hidden" id="fn-content-element" name="contentFnJson" value="{{values.contentFnJson}}">
<input type="hidden" id="map-content-element" name="contentMapJson" value="{{values.contentMapJson}}">

<div class="card bg-base-100 shadow-md mb-6">
    <div class="card-body space-y-4">

        {{> ui/form-field id="inputName" name="name" label="Name" value=values.name error=errors.name required=true hint="Name for this routing."}}

        {{> ui/form-field id="inputDescription" name="description" label="Description" value=values.description error=errors.description hint="Description for this routing."}}

        {{> ui/form-field id="inputTargetUrl" name="targetUrl" type="url" label="Target URL" value=values.targetUrl error=errors.targetUrl required=true placeholder='URL like "https://myservice.com/imap/webhooks"' hint="Webhook target URL for this routing."}}

        {{> ui/checkbox id="enabled" label="Enable this Webhook Routing" checked=values.enabled error=errors.enabled hint="Webhook routings are not enabled by default."}}

        {{#> ui/details summary="Custom request headers" class="card border border-base-content/10" summaryClass="px-4 py-2" open=values.customHeaders}}
        <div>
            <p class="mb-[1rem]">Here you can list additional request headers to be passed with each webhook request.
            </p>

            {{#> ui/form-field id="customHeaders" label="List of custom headers" error=errors.customHeaders hint="Keep one header per line"}}
            <textarea class="textarea font-mono w-full{{#if errors.customHeaders}} is-invalid{{/if}}" id="customHeaders"
                name="customHeaders" rows="5" spellcheck="false" data-enable-grammarly="false"
                placeholder="Custom headers like &quot;Authorization: Bearer secret_token&quot;&mldr;">{{values.customHeaders}}</textarea>
            {{/ui/form-field}}

        </div>
        {{/ui/details}}

        <div>
            <div class="text-base-content/60 float-right code-link">[<a
                    href="https://emailengine.app/pre-processing-functions" target="_blank" rel="noopener noreferrer"
                    referrerpolicy="no-referrer" class="link link-animated">documentation</a>]</div>
            <label class="label-text" for="editor-fn">Filter function</label>
            <div class="mb-2 leading-tight">
                <small>JavaScript code to determine if the webhook should be sent. If the code evaluates to
                    <code>true</code> then the webhook is sent, otherwise it is skipped.
                    The script includes <code>payload</code> as a global variable that contains the webhook
                    payload. Use <code>env</code> to access <a href="/admin/config/service#scriptEnv"
                        class="link link-animated">script variables</a>.</small>
            </div>
            <div id="editor-fn" class="code-editor"></div>
            <div class="editor-embed-block">
                <div class="editor-embed-content editor-embed-content-left">
                    Filter function
                </div>
                <div class="editor-embed-content editor-embed-content-left editor-embed-content-right">
                    <a href="#" class="toggle-fullscreen" data-target="editor-fn">Toggle fullscreen</a>
                </div>
                <div class="editor-embed-content editor-embed-content-left editor-embed-content-right">
                    <a href="#" id="test-payload-btn">Set test payload</a>
                </div>
                <div class="editor-embed-content editor-embed-content-left editor-embed-content-right">
                    Evaluation result:
                    <span id="filter-res" class="text-info">no match</span>
                </div>
                <div class="editor-embed-content editor-embed-content-right">
                    {{> editor_scope_info}}
                </div>
            </div>

        </div>

        <div>
            <label class="label-text" for="editor-map">Map function</label>
            <div class="mb-2 leading-tight">
                <small>JavaScript code to modify webhook payload output. Some services might expect incoming data using
                    a specific format. Whatever is returned by this function will be used as the webhook
                    payload. Use <code>env</code> to access <a href="/admin/config/service#scriptEnv"
                        class="link link-animated">script variables</a>.</small>
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-12">
                <div class="sm:col-span-7">
                    <div id="editor-map" class="code-editor"></div>
                    <div class="editor-embed-block">
                        <div class="editor-embed-content editor-embed-content-left">
                            Mapping function
                        </div>
                        <div class="editor-embed-content editor-embed-content-left editor-embed-content-right">
                            <a href="#" class="toggle-fullscreen" data-target="editor-map">Toggle fullscreen</a>
                        </div>
                        <div class="editor-embed-content editor-embed-content-right">
                            {{> editor_scope_info}}
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-5">
                    <div id="editor-map-preview" class="code-editor"></div>
                    <div class="editor-embed-block">
                        <div class="editor-embed-content editor-embed-content-left">
                            Mapping preview
                        </div>
                        <div class="editor-embed-content editor-embed-content-left editor-embed-content-right">
                            <a href="#" class="toggle-fullscreen" data-target="editor-map-preview">Toggle fullscreen</a>
                        </div>
                        <div class="editor-embed-content editor-embed-content-right">
                            <a href="#" id="test-send-btn">Send webhook preview</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
