<div
    style="display: flex; width: 100%; height: 100%; flex-direction: column; background-color: blue; overflow: hidden;">
    <iframe src="/docs" style="flex-grow: 1; border: none; margin: 0; padding: 0;"></iframe>
</div>