<div class="row mt-4">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <p>
            EmailEngine is a self-hosted headless email client for accessing IMAP accounts over REST API. EmailEngine
            connects to the user's
            IMAP account, translates API requests to IMAP, and sends webhooks for changes like new or deleted emails.
        </p>

        <div class="mt-4">
            <a href="/admin" class="btn btn-primary">Manage EmailEngine</a>
        </div>
    </div>
</div>