<div class="mt-6 max-w-3xl">
    <p>
        EmailEngine is email client software designed for applications, not
        individual users. It connects to users' email servers and translates REST API requests from applications into
        IMAP and SMTP commands, or Gmail API and Microsoft Graph API requests. Additionally, it sends webhooks
        to notify applications of events such as new or deleted emails.
    </p>

    <div class="mt-6">

        <a href="/admin" class="btn btn-primary">
            <span class="icon-[tabler--tools] size-4"></span>
            Manage EmailEngine
        </a>

    </div>
</div>
