<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><i class="fas fa-gavel fa-fw"></i></small>
        Legal
    </h1>
</div>


<div class="card mt-4 mb-4">
    <div class="card-body">

        <p>EmailEngine is a software developed by Postal Systems OÜ and licensed under the EmailEngine License
            Agreement.</p>

        <address>
            <strong>Postal Systems OÜ</strong><br>
            Veskiposti tn 2-1002<br>
            10138, Harjumaa, Tallinn<br>
            Estonia<br>
            <abbr title="VAT">VAT:</abbr> EE102255902<br>
            <a href="mailto:info@postalsys.com">info@postalsys.com</a><br>
            <a href="https://postalsys.com/">https://postalsys.com</a>
        </address>
    </div>

    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <strong>Company information</strong>
                </div>
                <div>
                    <a href="https://postalsys.com/contact" class="btn btn-info" target="_blank">
                        <i class="fas fa-arrow-right fa-fw"></i>
                        Homepage
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <strong>EmailEngine License Agreement</strong>
                </div>
                <div>
                    <a href="/license.html" class="btn btn-info" target="_blank">
                        <i class="fas fa-arrow-right fa-fw"></i>
                        View
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <strong>3rd party software used in EmailEngine</strong>
                </div>
                <div>
                    <a href="/licenses.html" class="btn btn-info" target="_blank">
                        <i class="fas fa-arrow-right fa-fw"></i>
                        View
                    </a>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div>
                    <strong>Software Bill of Materials</strong>
                </div>
                <div>
                    <a href="/sbom.json" class="btn btn-info" download="sbom.json">
                        <i class="fas fa-cloud-download-alt fa-fw"></i>
                        Download
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>