{{> ui/page-header title="Legal Information" icon="icon-[tabler--gavel]" class="mb-1"}}


<div class="card bg-base-100 shadow-md mt-6 mb-6">
    <div class="card-body">

        <p class="mb-2">EmailEngine is developed by Postal Systems OÜ and distributed under the EmailEngine License
            Agreement.</p>

        <address class="not-italic">
            <strong>Postal Systems OÜ</strong><br>
            Narva mnt 5<br>
            10117 Tallinn, Estonia<br>
            VAT: EE102255902<br>
            <a href="mailto:info@postalsys.com" class="link link-animated">info@postalsys.com</a><br>
            <a href="https://postalsys.com/" class="link link-animated">postalsys.com</a>
        </address>



    </div>



    <ul class="divide-base-content/10 border-base-content/10 divide-y border-t">

        <li class="px-6 py-4">
            <strong>
                {{#if licenseInfo.details.key}}
                {{#if licenseInfo.details.trial}}
                Trial License
                {{else}}
                Licensed to {{licenseInfo.details.licensedTo}}
                {{/if}}
                {{else}}
                No license key configured
                {{/if}}


            </strong>
            &mdash; <a class="link link-animated" href="/admin/config/license">View license details</a>
        </li>

        <li class="px-6 py-4">
            <a href="/license.html" target="_blank" rel="noopener noreferrer" class="link link-animated">
                <span class="icon-[tabler--arrow-right] size-4 align-text-bottom"></span>
                <strong>EmailEngine License Agreement</strong>
            </a>
        </li>

        <li class="px-6 py-4">
            <a href="/licenses.html" target="_blank" rel="noopener noreferrer" class="link link-animated">
                <span class="icon-[tabler--arrow-right] size-4 align-text-bottom"></span>
                <strong>Third-Party Software Licenses</strong>
            </a>
        </li>

        <li class="px-6 py-4">
            <a href="https://postalsys.com/contact" target="_blank" rel="noopener noreferrer"
                class="link link-animated">
                <span class="icon-[tabler--arrow-right] size-4 align-text-bottom"></span>
                <strong>Company Details</strong>
            </a>
        </li>

        <li class="px-6 py-4">
            <a href="https://postalsys.com/tos" target="_blank" rel="noopener noreferrer" class="link link-animated">
                <span class="icon-[tabler--arrow-right] size-4 align-text-bottom"></span>
                <strong>Terms of Service</strong>
            </a>
        </li>

        <li class="px-6 py-4">
            <a href="/sbom.json" download="sbom.json" class="link link-animated">
                <span class="icon-[tabler--cloud-download] size-4 align-text-bottom"></span>
                <strong>Software Bill of Materials (SBOM)</strong>
            </a>
        </li>
    </ul>
</div>
