<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">
        <small><i class="fas fa-cog fa-fw"></i></small>
        Upgrade instructions
    </h1>
</div>

{{#unless isRender}}
<div class="card border-left-info shadow mt-4">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">

                {{#if isDO}}
                <p class="mb-4">To upgrade EmailEngine to the latest version, log in to your server and run the
                    following command:<br />
                    <kbd>$ sudo /opt/upgrade-emailengine.sh</kbd>
                </p>
                {{/if}}

                {{#if isScriptInstalled}}
                <p class="mb-4">To upgrade EmailEngine to the latest version, log in to your server and run the
                    following command:<br />
                    <kbd>$ sudo /opt/upgrade-emailengine.sh</kbd>
                </p>
                {{/if}}

                {{#if isGeneral}}
                <p class="mb-4">To upgrade EmailEngine to the latest version, download the latest version from the <a
                        href="https://emailengine.app/#downloads" target="_blank"
                        referrerpolicy="{{referrerPolicy}}">EmailEngine's homepage</a>, replace the binary and restart
                    the application.</p>
                {{/if}}

            </div>
            <div class="col-auto">
                <i class="fas fa-info-circle fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>
{{/unless}}

{{#if isRender}}
<div class="card mt-4 mb-4">
    <div class="card-body">
        <p class="mb-4">To upgrade EmailEngine to the latest version, log in to your Render <a
                href="https://dashboard.render.com/" target="_blank" referrerpolicy="{{referrerPolicy}}">Dashboard</a>,
            select
            EmailEngine and run a manual deploy as shown on the screenshot below.
        </p>
        <p><img src="/static/preview/render.png" class="img-fluid img-thumbnail"></p>
    </div>
</div>
{{/if}}