{{> templates_header}}

{{!-- the account level renders only for account-scoped templates (ui/breadcrumb skips empty levels) --}}
{{> ui/breadcrumb parentHref="/admin/templates" parentLabel="Templates" midHref=(when account accountTemplatesLink)
midLabel=account.name mid2Href=(concat "/admin/templates/template/" template.id) mid2Label=template.name current="Edit"
class="mt-6 mb-6"}}


<form method="post" action="/admin/templates/edit" id="edit-form">
    <input type="hidden" name="crumb" value="{{crumb}}" />
    <input type="hidden" name="template" value="{{values.template}}">

    {{>template_form}}

    <div class="mb-6">
        {{> ui/btn label="Update template" type="submit" icon="icon-[tabler--device-floppy]"}}
    </div>
</form>
