<div class="float-right">
    <a href="/admin/templates/new" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create new</span>
    </a>
</div>

{{> templates_header}}

<p>
    Prepared email templates can be used as the content when sending emails.
</p>