{{> templates_header}}

{{!-- the account level renders only for account-scoped templates (ui/breadcrumb skips empty levels) --}}
{{> ui/breadcrumb parentHref="/admin/templates" parentLabel="Templates" midHref=(when account accountTemplatesLink) midLabel=account.name current="New" class="mt-6 mb-6"}}


<form method="post" action="/admin/templates/new" id="edit-form">
    <input type="hidden" name="crumb" value="{{crumb}}" />
    <input type="hidden" name="account" value="{{values.account}}">

    {{>template_form}}

    <div class="mb-6">
        {{> ui/btn label="Create template" type="submit" icon="icon-[tabler--plus]"}}
    </div>
</form>
