{{> templates_header}}

<nav aria-label="breadcrumb" class="mt-4 mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/templates">Templates</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{template.name}}</li>
    </ol>
</nav>