.droptxt {
    font-family: monospace;
    font-size: 0.8em;
}

.dragover {
    box-shadow: 2px 2px #888888;
}

.bg-login-page-image {
    background: url(/static/logo_wide.png);
    background-position: center;
    background-size: cover;
}

.code-link {
    font-family: monospace;
    font-size: 0.8em;
}

.code-editor {
    width: 100%;
    height: 14rem;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
}

.code-editor-low {
    width: 100%;
    height: 10rem;
    border: 1px solid #f8f8f8;
    border-radius: 3px;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaa;
    font-style: oblique;
    opacity: 0.8; /* Firefox */
}

input.form-control:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #aaa;
    font-style: oblique;
    opacity: 0.8; /* Firefox */
}

input.form-control::-ms-input-placeholder,
textarea.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #aaa;
    font-style: oblique;
    opacity: 0.8; /* Firefox */
}

.certinfo dt,
.certinfo dd {
    font-size: 0.8rem;
}

.editor-embed-block {
    text-align: left;
    padding-top: 0;
    margin-top: -2px;
}
.editor-embed-content {
    font-weight: 100;
    font-family: helvetica;
    font-size: 13px;
    display: inline-block;
    padding: 2px 10px;
    background: #fefefe;
    border: 1px solid #f8f8f8;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
    text-decoration: none;
}

.editor-embed-content-left {
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    margin-right: -4px;
}

.editor-embed-content-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
    margin-left: 0;
}

.error-log-field {
    font-family: monospace;
    font-size: 0.8em;
    border: 1px solid #f8f8f8;
    margin: 0;
    padding: 1px;
    display: block;
    width: 100%;
    height: 5rem;
    color: #888888;
}

.bg-gradient-primary {
    background-color: #407ec9;
    /*#407ec9;*/
    background-image: none;
    background-size: cover;
}

.card-title {
    font-weight: bold;
}

.hover-bg-light:hover {
    background-color: #f8f9fa !important;
}

.alert-margin .alert {
    margin: 10px 10px 0 0;
}

.full-screen-div {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.popover-list {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: square;
}

.popover-list li {
    margin: 0;
    padding: 0;
}
