.navbar-inverse {
    background-color: #407ec9;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: rgba(255, 255, 255, 0.8);
    background-color: #407ec9;
}
