{{> webhooks_header}}

{{> ui/breadcrumb parentHref="/admin/webhooks" parentLabel="Webhook Routes" current="New" class="mt-6 mb-6"}}

<form method="post" action="/admin/webhooks/new" id="edit-form">
    {{!-- no id: the layout already renders the #crumb element scripts read --}}
    <input type="hidden" name="crumb" value="{{crumb}}" />

    {{>webhook_form}}

    <div class="mb-6">
        {{> ui/btn label="Create routing" type="submit" icon="icon-[tabler--plus]"}}
    </div>
</form>


{{>webhooks_editor_functions}}