{{> accounts_header}}

<nav aria-label="breadcrumb" class="mt-4 mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/accounts">Accounts</a></li>
        <li class="breadcrumb-item"><a href="/admin/accounts/{{account}}">{{account}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Browse</li>
    </ol>
</nav>

<div id="email-client"></div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirm-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirm-cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="confirm-ok" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">Notice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="alert-text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="alert-ok" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import { EmailEngineClient } from '/static/js/ee-client.js';

    // Create client with UI container
    const client = new EmailEngineClient({
        apiUrl: window.location.origin,
        account: '{{account}}',
        accessToken: '{{sessionToken}}',
        container: document.getElementById('email-client'),
        confirmMethod: (message, title = 'Confirm', cancelText = 'Cancel', okText = 'OK') => {
            return new Promise((resolve) => {
                let result = false;

                document.getElementById('confirm-text').textContent = message;
                document.getElementById('confirmModalLabel').textContent = title;
                document.getElementById('confirm-cancel').textContent = cancelText;
                document.getElementById('confirm-ok').textContent = okText;


                document.getElementById('confirm-ok').addEventListener('click', () => {
                    result = true;
                    $('#confirmModal').modal('hide');
                });

                $('#confirmModal').on('hidden.bs.modal', function (event) {
                    resolve(result);
                });

                $('#confirmModal').modal('show');
            });
        },

        alertMethod: (message, title = 'Notice', cancelText = null, okText = 'OK') => {
            return new Promise((resolve) => {
                document.getElementById('alert-text').textContent = message;
                document.getElementById('alertModalLabel').textContent = title;
                document.getElementById('alert-ok').textContent = okText;

                document.getElementById('alert-ok').addEventListener('click', () => {
                    $('#alertModal').modal('hide');
                });

                $('#alertModal').on('hidden.bs.modal', function (event) {
                    resolve(true);
                });

                $('#alertModal').modal('show');
            });
        }
    });
</script>