{{> document_store_header}}

{{> ui/breadcrumb parentHref="/admin/config/document-store" parentLabel="Document Store"
midHref="/admin/config/document-store/mappings" midLabel="Field mappings" current="New mapping" class="mt-6 mb-6"}}

<form method="post" action="/admin/config/document-store/mappings/new">
    <input type="hidden" name="crumb" value="{{crumb}}">

    <div class="card bg-base-100 shadow-md mb-6">

        <div class="card-header">
            <h6 class="card-title text-primary">Field data</h6>
        </div>

        <div class="card-body space-y-4">

            <div>
                {{#> ui/form-field id="field" label="Field name" error=errors.field}}
                <input type="text" class="input lowercase{{#if errors.field}} is-invalid{{/if}}" id="field" name="field"
                    value="{{values.field}}" placeholder="For example &quot;type&quot;" data-lpignore="true"
                    autocomplete="off" required />
                <span class="helper-text">Field name to create the mapping for. Must be a new field without existing
                    mapping.</span>
                {{/ui/form-field}}
            </div>

            <div>
                {{#> ui/form-field id="type" label="Field type" error=errors.type}}
                <select class="select max-w-md{{#if errors.type}} is-invalid{{/if}}" id="type" name="type" required>
                    {{#each fieldTypes}}
                    <option value="{{type}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                    {{/each}}
                </select>
                <span class="helper-text">Only basic types are available. Complex types like nested objects must be
                    managed manually.</span>
                {{/ui/form-field}}
            </div>

            <div>
                <div class="float-right">
                    {{#> ui/tooltip-rich icon="icon-[tabler--help-circle]"}}
                    <strong>Index status</strong><br>
                    If a field is not searchable, then it is stored in the Document Store, but it is not part of the
                    index. When listing documents, the field is included in the result.
                    {{/ui/tooltip-rich}}
                </div>
                {{> ui/checkbox id="indexed" name="indexed" label="Searchable" checked=values.indexed
                error=errors.indexed}}
            </div>

        </div>
    </div>

    <div class="mb-6">
        {{> ui/btn label="Add mapping" type="button" overlay="#submitModal" icon="icon-[tabler--plus]"}}
    </div>

    {{#> ui/modal id="submitModal" title="Add mapping" titleId="submitModalLabel"}}
    <div class="modal-body">
        <p>Are you sure you want to add this mapping? You would have to reindex everything to delete or
            modify an existing mapping.</p>
    </div>
    <div class="modal-footer">
        {{> ui/btn label="Close" variant="neutral" style="soft" overlay="#submitModal"}}
        {{> ui/btn label="Add mapping" type="submit"}}
    </div>
    {{/ui/modal}}

</form>
