{{!--
    ui/menu-title - non-interactive sidebar group heading (an <li> inside a FlyonUI .menu list).
    Params:
      label - heading text (required)
--}}
<li class="menu-title text-base-content/50 mt-3 px-2 text-xs font-semibold uppercase tracking-wide">{{label}}</li>
