<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap-4.6.0-dist/css/bootstrap.min.css" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>

    {{{content}}}

    <script src="/static/js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/static/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</body>

</html>