<div class="d-sm-flex align-items-center justify-content-between mb-1">
    <h1 class="h3 mb-0 text-gray-800">Access Tokens</h1>
</div>

<p class="mb-4">
    To access EmailEngine API you need to authenticate your API requests using an access token.
</p>

<div class="list-group">
    {{#each tokenList}}
    <div class="list-group-item">
        <div class="d-flex w-100">
            <h6 class="flex-fill align-self-center">{{description}}</h6>
            <small class="align-self-center">
                {{#if access.timeStr}}
                Last used: <span class="relative-time" data-time="{{access.timeStr}}">{{access.timeStr}}</span>
                {{else}}
                <span>Never used</span>
                {{/if}}
            </small>
            <div class="ml-2 align-self-center">
                <button type="button" class="btn btn-danger btn-sm ">Delete</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>