{{> gateways_header}}

{{> ui/breadcrumb parentHref="/admin/gateways" parentLabel="Gateways" midHref=(concat "/admin/gateways/gateway/" gatewayData.gateway) midLabel=gatewayData.gateway current="Edit" class="mt-6 mb-6"}}

<form method="post" action="/admin/gateways/edit">
    <input type="hidden" name="crumb" value="{{crumb}}">
    <input type="hidden" name="gateway" id="gateway" value="{{gatewayData.gateway}}">

    <div class="card bg-base-100 shadow-md mb-6">

        <div class="card-header flex items-center justify-between">
            <h6 class="card-title text-primary">Gateway Configuration</h6>
            {{> ui/btn label="Test Connection" variant="neutral" style="soft" size="sm" id="test-verify-btn"
            icon="icon-[tabler--send]"}}
        </div>

        <div class="card-body space-y-4">

            {{>gateway_form}}

        </div>
    </div>

    <div class="mb-6">
        {{> ui/btn label="Save Changes" type="submit" icon="icon-[tabler--device-floppy]"}}
    </div>
</form>

{{>gateway_js}}
