{{> gateways_header}}

{{> ui/breadcrumb parentHref="/admin/gateways" parentLabel="Gateways" midHref=(concat "/admin/gateways/gateway/" gatewayData.gateway) midLabel=gatewayData.gateway current="Edit" class="mt-6 mb-6"}}

<form method="post" action="/admin/gateways/edit">
    <input type="hidden" name="crumb" value="{{crumb}}">
    <input type="hidden" name="gateway" id="gateway" value="{{gatewayData.gateway}}">

    <div class="card bg-base-100 shadow-md mb-6">

        <div class="card-header flex items-center justify-between">
            <h6 class="card-title text-primary">Gateway Configuration</h6>
            <div class="dropdown relative inline-flex">
                <button type="button" class="dropdown-toggle btn btn-text btn-circle btn-sm" id="gateway-actions-menu"
                    aria-haspopup="menu" aria-expanded="false" aria-label="Actions">
                    <span class="icon-[tabler--dots-vertical] size-4"></span>
                </button>
                <ul class="dropdown-menu dropdown-open:opacity-100 hidden min-w-44 end-0" role="menu"
                    aria-orientation="vertical" aria-labelledby="gateway-actions-menu">
                    <li class="dropdown-header">Actions:</li>
                    <li><a class="dropdown-item" href="#" id="test-verify-btn">
                            <span class="icon-[tabler--send] size-4"></span> <span>Test Connection</span></a></li>
                </ul>
            </div>
        </div>

        <div class="card-body space-y-4">

            {{>gateway_form}}

        </div>
    </div>

    <div class="mb-6">
        {{> ui/btn label="Save Changes" type="submit" icon="icon-[tabler--device-floppy]"}}
    </div>
</form>

{{>gateway_js}}
